html, body {
    cursor: url(uni.gif), auto;
    height:100%;
    width: 100%;
}


.buttonDesign {
    background-color: aliceblue;
    font-size: large;

    color: black;
    text-shadow: 2px 2px 5px black;

    margin-right: 45px;
    padding-right: 12px;
    cursor: url(uni.gif), auto;

    width: 34%;
    height: 5%;
}

#questionMark {
    background-color: aliceblue;
    font-size: large;

    color: black;
    text-shadow: 2px 2px 5px black;

    margin-right: 45px;
    padding-right: 12px;
    cursor: url(uni.gif), auto;

    width: 5%;
    height: 5%;
}

#serverResponse {
    background-color: aquamarine;
    box-shadow: 2px 2px 5px cadetblue;

    color: white;
    font-size: xx-large;
    text-shadow: 2px 2px 5px black;
    resize: none;
    cursor: url(uni.gif), auto;

    width: 90%;
    height: 80%;
}

#message {
    box-shadow: 2px 2px 5px cadetblue;

    color: orangered;
    text-shadow: 2px 2px 5px black;
    font-size: larger;
    cursor: crosshair;

    width: 90%;
    height: 5%;
}