body {
    cursor: url(uni.gif), auto;
}


.buttonDesign {
    background-color: aliceblue;
    font-size: xx-large;

    color: lightskyblue;
    text-shadow: 2px 2px 5px black;

    margin-right: 45px;
    padding-right: 12px;
    cursor: url(uni.gif), auto;
}

#serverResponse {
    background-color: aquamarine;
    box-shadow: 2px 2px 5px cadetblue;

    color: white;
    font-size: xx-large;
    text-shadow: 2px 2px 5px black;
    resize: none;
    cursor: url(uni.gif), auto;
}

#message {
    box-shadow: 2px 2px 5px cadetblue;

    color: orangered;
    text-shadow: 2px 2px 5px black;
    font-size: xx-large;
    cursor: url(uni.gif), auto;
}